{% extends 'base.html.twig' %}

{% block title %}LigneDuPagnier index{% endblock %}

{% block body %}
    <h1>LigneDuPagnier index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantiter</th>
                <th>Prix_unitaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ligne_du_pagnier in ligne_du_pagniers %}
            <tr>
                <td>{{ ligne_du_pagnier.id }}</td>
                <td>{{ ligne_du_pagnier.quantiter }}</td>
                <td>{{ ligne_du_pagnier.prixUnitaire }}</td>
                <td>
                    <a href="{{ path('ligne_du_pagnier_show', {'id': ligne_du_pagnier.id}) }}">show</a>
                    <a href="{{ path('ligne_du_pagnier_edit', {'id': ligne_du_pagnier.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ligne_du_pagnier_new') }}">Create new</a>
{% endblock %}
